" source ~/.vimrc

""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""
vim 行为设置
vim basic setting
""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""

set visualbell
" 错误指令时，不发出“duang duang"的声音 : no vim error remind
set noerrorbells
" 超好用的功能，可以删除(ds)/修改(cs)/添加(ys)文本两端的符号 : ref:  https://gist.github.com/wilon/ac1fc66f4a79e7b0c161c80877c75c94
set surround
" 展示相对行号 : show relative line number
set relativenumber
" 展示行号 : show line number
set number
" 是/否(默认)自动高亮匹配的字符：是 :  highlight content searched when key "enter" pressed
set hlsearch
" 输入搜索关键字时，是/否(默认)自动高亮匹配的字符: 是 : highlight content searched when key letters pressed
set incsearch	
" 搜索忽略大小写 : ignore letter case when searching
set ignorecase	
" 在搜索时到达文件尾后是/否跳文件头继续搜索: 是 : loop search
set wrapscan
" 直接使用系统剪贴板 : use system clipboard
set clipboard=unnamed


""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""
vim 起始键设置
vim leader key
""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""

let mapleader = ","


" disable mappings from .vimrc
" 屏幕上翻一页
inoremap <C-U> <C-U>
" 屏幕下翻一页
inoremap <CR> <CR>


""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""
vim 窗口设置
vim window setting
""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""
"  
" ***任何位置多次esc能回到编辑器窗口***
"swither 是一个超级工具
"窗口：弹出关于窗口的所有选项
nnoremap <leader>ww :action Switcher<CR>
"窗口：隐藏所有
nnoremap <leader>wh :action HideAllWindows<CR>
"窗口：退出
nnoremap <leader>wq :q<CR>
"窗口：project
nnoremap <leader>wp :action ActivateProjectToolWindow<CR>
"窗口：maven
nnoremap <leader>wm :action ActivateMavenProjectsToolWindow<CR>
"窗口：git
nnoremap <leader>wg :action ActivateVersionControlToolWindow<CR>

" tabs
" 右侧标签
nnoremap <Tab> gt
" 左侧标签
nnoremap <S-Ta> gT



""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""
vim 搜索设置
vim search setting
""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""

" search
" 全局搜索
nnoremap <leader>sp :action FindInPath<CR>



""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""
vim goto设置 : 使用"TO"而不是"GO"
vim goto setting : Use "TO" instead of "GO"
""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""

" goto 取T
" 跳转到类
nnoremap <leader>tc :action GotoClass<CR>
" 跳转到文件
nnoremap <leader>tf :action GotoFile<CR>
" 弹出/跳转到被使用位置
nnoremap <leader>tu :action ShowUsages<CR>
" 跳转到实现类
nnoremap <leader>ti :action GotoImplementation<CR>
" 跳转到父类
nnoremap <leader>ts :action GotoSuperMethod<CR>
" 跳转类声明/定义
nnoremap <leader>tt :action GotoTypeDeclaration<CR>
" 待定
" nnoremap <leader>sb :action ShowNavBar<CR>


""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""
vim 前进后退设置 : 使用 "[" 和 "]"
vim forward and backward settings : use "[" and "]"
""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""

" 涉及可以前后反复跳转
" 当前位置跳转到类名位置
nnoremap ]c /\\<trait\>\\\|\\<class\>\\\|\\<object\>\\\|\\<interface\>\\\|\\<enum\><CR>w:nohlsearch<CR>
" 跳到上个错误位
nnoremap ]e :action GotoNextError<CR>
" 跳到下个错误位
nnoremap ]e :action GotoNextError<CR>
" 跳到下次编辑焦点 : forward point
nnoremap ]p :action Forward<CR>
" 跳回上次编辑焦点 : back point
nnoremap [p :action Back<CR>
" 跳转上个标记mark
nnoremap ]m :action GotoNextBookmark<CR>
" 跳转下个标记
nnoremap [m :action GotoPreviousBookmark<CR>
" 跳到上次选择的文本 : last selected sentence
nnoremap [s gvh
" not working
" nnoremap  ]t NextTab
" nnoremap  [t PreviousTab

" maven 不起作用 : not working
" nnoremap <leader>mr :action Reload all<CR>
" 弹出maven运行框，指定goal后执行
nnoremap <leader>mg :action Maven.ExecuteGoal<CR>



" build 不起作用 : not working
" nnoremap <leader>bb :action Compile<CR>

""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""
vim debug : 使用 "d"
vim debug settings : use "d"
""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""

" debug 
" 执行上次调试命令：debug with last config setting 
nnoremap <leader>dd :action Debug<CR>
" 调试指定配置/记录项，选择后即可执行 : debug with config setting seleted
nnoremap <leader>dc :action ChooseDebugConfiguration<CR>


""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""
vim git : 使用 "g"
vim git settings : use "g"
""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""

" 弹出git操作菜单 : pop QuickList 
nnoremap <leader>gp :action Vcs.QuickListPopupAction<CR>
" git更新 : update
nnoremap <leader>gu :action Vcs.UpdateProject<CR>
" 下个变动 : ShowNextChangeMarker
nnoremap <leader>gf :action VcsShowNextChangeMarker<CR>
" 上个变动 : ShowPrevChangeMarker
nnoremap <leader>gb :action VcsShowPrevChangeMarker<CR>



""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""
vim refactor : 使用 "r", 三字操作
vim refactor settings : 3 letters with "r" started
""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""

" 重构代码为独立方法 : ExtractMethod
nnoremap <leader>rem :action ExtractMethod<CR>
" 重命名 : RenameElement
nnoremap <leader>rrn :action RenameElement<CR>i
" 移动元素到子类，如果没有子类，则会提示创建 : move to sub class , create new one if not existed
nnoremap <leader>rmu :action MemberPushDown<CR>
" 移动元素到父类，如果没有父类，则会提示创建 : move to father class , create new one if not existed
nnoremap <leader>rmd :action MemberPullUp<CR>
" 变更签名 : ChangeSignature
nnoremap <leader>rcs :action ChangeSignature<CR>
" 优化包引用 : OptimizeImports
nnoremap <leader>roi :action OptimizeImports<CR>


""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""
vim 标签 : 使用 "m", 三字操作
vim bookmark settings : use "'"
""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""

" 标记，会弹出pop框，使用对应的标记即可 : pop and select mark tag
nnoremap <leader>'a :action ToggleBookmarkWithMnemonic<CR>
" 展示所有的标记，可以选择对应标记跳转 : show all bookmarks, delete or select target
nnoremap <leader>'s :action ShowBookmarks<CR>
" nothing happened 删除标记，此指令不起作用。可以使用展示所有标记命令后，使用delete键删除对应标记 : not working
" nnoremap <leader>'d :action RemoveMnemonic<CR>



""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""
vim 特殊 
vim sepecial settings 
""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""

" 注释行 : Comment By LineComment
nnoremap gcc :action CommentByLineComment<CR>




""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""
vim 其它备注 
vim other notes
""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""

" 行移动，vim原生支持
" 下移一行 : move line up
" :m+1 
" 上移二行 : move line down
" :m-2 
" 移动到指定行号 : move line to line No.
" :m 5 移动到行号5
" 移动多行 ：move multi lines 
" v and m+2; v and m 2
